.homepage {
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
  }
  
  .homepage h1 {
    font-size: 3em;
    text-align: left;
  }
  .homepage h2 {
    text-align: left;
  }
  .homepage p {
    font-size: 1em;
    text-align: left;

  }
  .logo1{
    margin-left: -75em;
    width: 20em;
    margin-bottom: -5em;
    margin-top: -4em;

  }
  .homeimage1{
    width: 20em;
    margin-top: -30em;
    margin-right: -35em;
  }
  .homeimage6{
    width: 15em;
    margin-top: -30em;
    margin-right: -45em;
  }
  .homeimage5{
    width: 20em;
    margin-left: -100em;
    margin-top: -15em;
    max-height: 300px;
  }
  .saver-schedule-demo-button{
    color: rgb(129, 5, 5);
  }
  .get-started-button1{
    background-color: rgb(129, 5, 5);
  }
  .prompt{
    margin-top: 80px;
    background-color: black;
    padding-bottom: 1em;
    border-radius: 20px;
  }
  .prompt .card{
    margin-left: 45em;
    width: 600px;
    height: 350px;
    background-color: black;
    padding-top: 7em;
    justify-content: center;
  }
  .prompt .card h1{
    color: beige;
    font-size: 26px;
    line-height: 1em;
    /* margin-top: 10em; */
  }
  .prompt .card p{
    color: beige;
  }

  