.homepage {
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .homepage h1 {
    font-size: 3em;
    text-align: left;
  }
  .homepage h2 {
    text-align: left;
  }
  .homepage p {
    font-size: 1em;

  }
  .logo1{
    margin-left: -60em;
    width: 20em;
    margin-bottom: -5em;
    margin-top: -4em;

  }
  .homeimage1{
    width: 20em;
    margin-top: -30em;
    margin-right: -35em;
  }
  