.testimonials-container {
    text-align: center;
    padding: 50px 0;
  }
  
  .testimonials {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }
  
  .testimonial {
    background-color: #dbd5d5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: left;
  }
  
  .testimonial p {
    font-size: 16px;
    margin-bottom: 15px;
    color: black;
  }
  
  .testimonial h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  